body{
	font-size: 16px;
	color: black;
	background-color: #87CEFA;
	font-family: 'Lora', serif;
}
#header-nav{
	background-color:#191970;
	border:0;
	border-radius:0;
	padding:25px;
}
.navbar-brand h1{
	color:silver;
	font-family: 'Vast Shadow', cursive;
	font-size: 1.5em;
	text-transform: uppercase;
	weight: bold;
}
#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fce29e;
}

