
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
section {
  border:1px solid black;
   margin-bottom: 15px;
  background-color:#C0C0C0;
  font-family: Helvetica;
  color: black;
 
 
 
}
h1 {
   margin-bottom: 30px;
   margin-top: 30px;
   text-align: center;
}
p {
	width: 35%;
	height: 40%;
	color: black	;
	 border: 1px solid black;
	 font-size: large;

	text-align: center;
	 float:  right;
	 margin-left: 100%;
}
#p1{
	background-color: #FFC0CB;
}
#p2{
	background-color: #87CEFA;
}
#p3{
	background-color: #98FB98;
}
#section1{
	    width: 32%;
	    margin-left: 1%;
	    float: left;
	}
    #section2{
	    width: 32%;
	    margin-left: 1%;
	    margin-right: 1%;
	    float: left;
	    
	}
    #section3{
	    width: 32%;
	    margin-right: 1%;
	    float: right;
}
/***Computer view**/
@media (min-width: 992px) {
    #section1{
	    width: 32%;
	    margin-left: 1%;
	}
    #section2{
	    width: 32%;
	    margin-left: 1%;
	    margin-right: 1%;
	}
    #section3{
	    width: 32%;
	    margin-right: 1%;
}
}
	
	

	
	

/* Tablet view options */

@media (min-width: 768px) and (max-width: 991px) {
     #section1{
	    width: 49%;
	    margin-left: 1%;
	}
    #section2{
	    width: 48%;
	    margin-left: 1%;
	    margin-right: 1%;
	}
    #section3{
	    width: 98%;
	    margin-right: 1%;
	    margin-left: 1%;
}
}


/* Mobile view options */

@media (max-width: 767px) {
    #section1{
	    width: 98%;
	    margin-left: 1%;
	    margin-right: 1%;
	}
    #section2{
	    width: 98%;
	    margin-left: 1%;
	    margin-right: 1%;
	}
    #section3{
	    width: 98%;
	    margin-right: 1%;
	    margin-left: 1%;
}
}
